/* credit: google fonts https://fonts.google.com/specimen/Montserrat?preview.text_type=custom&sidebar.open=true&selection.family=Montserrat:wght@100 and edited slightly to fit projects needs*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



/* credit: code for... has been taken from ... and edited slightly to fit projects needs */

/*-----------------------------------------------------------General*/

.text-center {
    text-align: center;
}


/*-----------------------------------------------------------Heading*/

/* credit: code for heading section taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/?child=first and edited slightly to projects needs*/

header {
    margin: 0;
}

.heading {
    margin: 0;
    text-align: center;
    position: relative;
    float: none;
}

/* bugs solved: had an issue with my font not loading, I spoke to tutor support and he advised to re-copy and paste the font of my choice from google fonts and then as it still did not work do a hard relaod of my browser page*/
.name {
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.list-inline {
    margin: 10px;
    float: none;
    padding-left: 20%;
    padding-right: 20%;
}

.menucontainer {
    font-size: 0px;
    text-align: center;
}

.menucontainer li {
    font-size: 18px;
}

.list-inline-item {
    display: inline-block;
}

/* credit: code for heading section taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/?child=first and amended slightly to fit my projects needs */

.list-inline-item a {
    color: #555555;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
}

/* bugs solved: this code was taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/?child=first to eliminate the contact menu item being below */

.list-inline-item:not(:last-child) {
    margin: 0;
} 


.subheading {
    text-align: center;
    position: relative;
    margin-top: 50px;
    font-weight: 900;
}

/* credit: inspiration for this code from https://wearetwinset.com/ but amended to fit project */

.subheading-background {
    background-color: #555555;
    height: 1.2px;
    position: absolute;
    right: 20px;
    left: 20px;
    top: 190px;
}

/*-----------------------------------------------------------Body*/


body {
    font-family: 'montserrat', sans-serif;
    color: #555555;
}



/*-----------------------------------------------------------About*/

/* credit: code taken from https://stackoverflow.com/questions/787839/resize-image-proportionally-with-css and amended to fit project */
/* credit: code taken from https://www.w3schools.com/howto/howto_css_image_center.asp and amended to fit project */

.about-image {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.about-text {
    color: #555555;
    font-weight: 400;
    text-align: center;
}


/*-----------------------------------------------------------Contact*/

/* credit: code for this section taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/715392be2ba942abb1b6f9eaf566aed6/?child=first and amended to fit project */

.contact-heading {
    color: #555555;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 40px;
    color: #fafafa;
    background-color: #555555;
}

@media(min-width: 992px) {
        .center-form {
            padding-top: 30px;
            min-height: 240px;
            margin: 0 auto;
            max-width: 50%;
    }   
}

/*-----------------------------------------------------------Footer*/

footer {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

/* credit: code taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/b51f7b8b815c4bcd9979d2281b6d97a9/?child=first and edited to fit projects needs */

.site-footer {
    font-family: 'montserrat' sans-serif;
    color: #fafafa;
    background-color: #555555;
    min-height: 60px;
    padding: 0;
}

.site-footer a {
    color: #fafafa;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* credit: code taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/b51f7b8b815c4bcd9979d2281b6d97a9/?child=first and amended to fit websites needs */

.social-links {
    color: #fafafa;
    text-align: center;
    padding: 8px;
    width: 20px;
    height: 20px;
}